* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ECE9E5;
    --secondary-color: #C0AB8B;
    --text-color: #0a1633;
    --text-accent: #F7F3E8;
}

.burger-menu {
    top: 0;
    left: 0;
    z-index: 1;
}

.burger-menu .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}

.burger-menu .burger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-menu .burger>div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.burger-menu .burger>div:before, .burger-menu .burger>div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.burger-menu .burger>div:after {
    top: 10px;
}

.burger-menu .toggler:checked+.burger>div {
    transform: rotate(135deg);
}

.burger-menu .toggler:checked+.burger>div:before, .burger-menu .toggler:checked+.burger>div:after {
    top: 0;
    transform: rotate(90deg);
}

.burger-menu .toggler:checked+.burger>div {
    transform: rotate(225deg);
}

.burger-menu .toggler:checked~.menu {
    visibility: visible;
}

.burger-menu .toggler:checked~.menu>.menu-background {
    opacity: 1;
}

.burger-menu .toggler:checked~.menu>.menu-background>.menu-list {
    opacity: 1;
    transform: translateX(0px)
}

.burger-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-menu .menu>.menu-background {
    background: var(--primary-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.burger-menu .menu>.menu-background>.menu-list {
    text-align: center;
    max-width: 100vw;
    max-width: 100vh;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.5s ease;
}

.burger-menu .menu>.menu-background>.menu-list>li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.burger-menu .menu>.menu-background>.menu-list>li>a {
    color: var(--text-color);
    text-decoration: none;
}

/* ----- COMMON ----- */
html {
    font-size: 10px;
    color: var(--text-color);
}

body {
    background-color: var(--primary-color);
}

nav {
    height: 60px;
    display: flex;
}

.top-logo {
    height: 60px;
    margin: auto;
    padding: 5px;
}

section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-center{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accent {
    background-color: var(--secondary-color);
    color: var(--text-accent);
}

.hero-img {
    width: 19rem;
}

img{
    width: 80vw;
}

.img{
    display: block;
    margin: auto;
}

h1 {
    font-family: 'galanogrotesque-light';
    font-size: 4rem;
    padding: 2rem;
}

h2 {
    font-size: 2.5rem;
    font-family: 'galanogrotesque-light';
    text-align: center;
    padding: 2rem;
}

p, .timetable {
    font-family: 'galanogrotesque-light';
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 28px;
}

.bold{
    font-family: 'galanogrotesque-medium'
}

.bold-italic{
    font-family: 'galanogrotesque-mediumitalic';
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.important{
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.center {
    text-align: center;
}

.footer-icon{
    width: 6rem;
    margin: 1rem;
}
/* ----- INDEX ----- */



.hero-h2 {
    font-family: 'galanogrotesque-light';
    color: var(--text-accent);
    font-size: 2rem;
    padding: 1.6rem;
}

.hero-h1 {
    font-family: 'galanogrotesque-thin';
    font-size: 3rem;
    color: var(--text-accent);
    padding: 0.5rem 2rem;
}

.infografic-mobile {
    width: 100vw;
}

.white-text {
    color: var(--text-accent);
}



.padding-small {
    padding: 0rem;
}


.enter {
    position: absolute;
    padding: 0;
    bottom: 50%;
    left: 0;
    right: 0;
}

.saver-container{
    padding: 25px;
}

.product-square{
    width: 90vw;
}

.padding0{
    padding: 5px 0;
}

.inline{
    display: flex;
    justify-content: space-between;
}

footer{
    background-color: var(--secondary-color);
    color: var(--text-accent);
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-container{
    display: grid;
    grid-template-columns: 10rem 10rem;

}

.bottom-text{
    font-size: 0.8rem;
    line-height: 15px;
    padding: 15px 10px;
}

/* ----- EDUCATION ----- */

/* ----- ABOUT US ----- */

.icon{
    width: 40vw;
    
}

/* ----- ARTICLE ----- */

/* ----- PRODUCTS ----- */
















/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on June 7, 2020 */

@font-face {
    font-family: 'galanogrotesque-extralight';
    src: url('fonts/galanogrotesquealt-extralight-webfont.woff2') format('woff2'), url('fonts/galanogrotesquealt-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'galanogrotesque-thin';
    src: url('fonts/galanogrotesquealt-thin-webfont.woff2') format('woff2'), url('fonts/galanogrotesquealt-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'galanogrotesque-light';
    src: url('fonts/galanogrotesque-light-webfont.woff2') format('woff2'), url('fonts/galanogrotesque-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'galanogrotesque-mediumitalic';
    src: url('fonts/galanogrotesque-mediumitalic-webfont.woff2') format('woff2'), url('fonts/galanogrotesque-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'galanogrotesque-medium';
    src: url('fonts/galanogrotesque-medium-webfont.woff2') format('woff2'), url('fonts/galanogrotesque-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}