* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ECE9E5;
    --secondary-color: #C0AB8B;
    --text-color: #0a1633;
    --text-accent: #F7F3E8;
}

.burger-menu {
    top: 0;
    left: 0;
    z-index: 1;
}

.burger-menu .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}

.burger-menu .burger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-menu .burger>div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.burger-menu .burger>div:before, .burger-menu .burger>div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.burger-menu .burger>div:after {
    top: 10px;
}

.burger-menu .toggler:checked+.burger>div {
    transform: rotate(135deg);
}

.burger-menu .toggler:checked+.burger>div:before, .burger-menu .toggler:checked+.burger>div:after {
    top: 0;
    transform: rotate(90deg);
}

.burger-menu .toggler:checked+.burger>div {
    transform: rotate(225deg);
}

.burger-menu .toggler:checked~.menu {
    visibility: visible;
}

.burger-menu .toggler:checked~.menu>.menu-background {
    opacity: 1;
}

.burger-menu .toggler:checked~.menu>.menu-background>.menu-list {
    opacity: 1;
    transform: translateX(0px)
}

.burger-menu .toggler:checked~.menu>.menu-background>.burgerLogo {
    opacity: 1;
    transform: translateX(0px)
}

.burger-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-menu .menu>.menu-background {
    background: var(--primary-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.burger-menu .menu>.menu-background>.menu-list {
    text-align: center;
    max-width: 100vw;
    max-width: 100vh;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.5s ease;
}

.burger-menu .menu>.menu-background>.menu-list>li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.burger-menu .menu>.menu-background>.menu-list>li>a {
    font-size: 8vw;
    font-family: 'galanogrotesque-light';
    color: var(--text-color);
    text-decoration: none;
}

.burgerLogo{
    top: 10%;
    width: 30vw;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.5s ease;
}

/* ----- COMMON ----- */

html {
    font-size: 10px;
    color: var(--text-color);
}

body {
    background-color: var(--primary-color);
}

nav {
    height: 60px;
    display: flex;
}

.top-logo {
    height: 60px;
    margin: auto;
    padding: 5px;
}

section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-center {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accent {
    background-color: var(--secondary-color);
    color: var(--text-accent);
}

.hero-img {
    width: 19rem;
}

img {
    width: 80vw;
}

.img {
    display: block;
    margin: auto;
}

h1 {
    font-family: 'galanogrotesque-light';
    font-size: 4rem;
    padding: 2rem;
}

h2 {
    font-size: 2.5rem;
    font-family: 'galanogrotesque-light';
    text-align: center;
    padding: 2rem;
}

p, .timetable {
    font-family: 'galanogrotesque-light';
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 25px;
}

.bold {
    font-family: 'galanogrotesque-medium'
}

.bold-italic {
    font-family: 'galanogrotesque-mediumitalic';
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.important {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.center {
    text-align: center;
}

.center2{
    display: block;
    margin: auto;
}

.footer-icon {
    width: 6rem;
    margin: 1rem;
}

/* ----- INDEX ----- */

.hero-h2 {
    font-family: 'galanogrotesque-light';
    color: var(--text-accent);
    font-size: 2rem;
    padding: 1.6rem;
}

.hero-h1 {
    font-family: 'galanogrotesque-thin';
    font-size: 3rem;
    color: var(--text-accent);
    padding: 0.5rem 2rem;
}

.infografic-mobile {
    width: 100%;
}

.white-text {
    color: var(--text-accent);
}

.padding-small {
    padding: 0rem;
}

.enter {
    position: absolute;
    padding: 0;
    bottom: 50%;
    left: 0;
    right: 0;
}

.nut{
    width: 35vw;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    transform: rotate(30deg);
}

.saver-container {
    padding: 25px;
}

.product-square {
    width: 90vw;
}

.padding0 {
    padding: 5px 0;
}

.inline {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: var(--secondary-color);
    color: var(--text-accent);
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-container {
    display: grid;
    grid-template-columns: 10rem 10rem;
}

.bottom-text {
    background-color: rgb(189, 146, 82);
    font-size: 0.8rem;
    line-height: 1.5vw;
    padding: 1.5vw 1.5vw;
}

/* ----- EDUCATION ----- */

/* ----- ABOUT US ----- */

.icon {
    width: 40vw;
}

/* ----- ARTICLE ----- */

/* ----- PRODUCTS ----- */

/* ----- TRYYYYYYYYYY ----- */

.left {
    background-color: rgba(0, 128, 128, 0.322);
    color: wheat;
    position: sticky;
    top: 0;
    width: 50vw;
    height: 100vh;
}

.right {
    background-color: tomato;
    color: wheat;
    width: 50%;
}

.blogPreviewGrid{
    display: grid;
    width: 80%;
    margin: auto;
}

.squeeze{
    padding: 0 10vw;
}

.section1 {
    padding: 100px;
    font-size: 50px;
}

.hiddenSmall{
    display: none ;
}

@media (min-width: 450px) {
    .padding0 {
        padding: 5px 0;
    }

    .hiddenSmall{
        display: block;
    }

    .hiddenBig {
        display: none;
    }

    section{
        justify-content: normal;
        align-items: normal;
        width: 100%;
    }

    .infografic-mobile{
        width: 100%;
    }

    h1{
        font-size: 5vw;
    }

    h2{
        text-align: left;
        font-size: 5rem;
    }

    p{
        font-size: 1.1vw;
        line-height: 1.8vw;
    }

    .vertical{
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .top-img{
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sideImg{
        width: 50vw;
    }

    .flex{
        display: flex;
        flex-direction: row;
    }

    .width50{
        width: 50%;
    }

    .fullHeight{
        height: 100%;
        width: 50%;
    }

    .title{
        font-family: 'galanogrotesque-light';
    }

    .titleAlt{
        font-family: 'galanogrotesque-light';
        font-size: 3vw;
        padding: 3vw;
    }
    
    .sustainably{
        position: absolute;
        top: 4%;
        left: 35%;
    }

    .with{
        position: absolute;
        top: 60%;
        left: 150%;
    }

    .love{
        position: absolute;
        top: 80%;
        left: 80%;
    }
/*  */

    .hero-img{
        width: 20vw;
    }

    .sustainabilityGrid{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
    }

    .bigText{
        font-size: 5vw;
    }

    .normalText{
        font-size: 1.5vw;
    }

    .nut{
        width: 25vw;
        top: 20%;
        left: 25%;
        transform: translate(-50%, -50%);
        transform: rotate(30deg);
    }

    .susGr1{
        padding: 5vw;
        grid-column: 1;
        grid-row: 1;
    }
    .susGr2{
        padding: 0 5vw;
        grid-column: 1;
        grid-row: 2;
    }
    .susGr3{
        padding: 2vw 5vw;
        grid-column: 1;
        grid-row: 3;
    }
    .susGr4{
        padding: 3vw 5vw;
        font-size: 4vw;
        font-family: 'galanogrotesque-extralight';
        grid-column: 1;
        grid-row: 4;
    }
    .susGr5{
        justify-self: center;
        align-self: center;
        grid-column: 2;
        grid-row: 1 / 5;
    }

    .bigimg{
        height: 50vw;
        width: 50vw;
    }

    .bigCenter{
        margin-top: 30%;
        text-align: center;
    }

    .saversGrid{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 0 5vw;
    }

    .product-square{
        width: 27vw;
    }

    .hPadding{
        padding: 2vw 5vw;
    }

    .dAbsolute{
        position: absolute;
    }

    .dRelative{
        position: relative;
    }

    .reviews{
        height: 60vw;
    }

    .review1, .review2, .review3{
        width: 40%;
    }

    .review1{
        top: 20%;
        left: 5%;
    }

    .review2{
        top: 20%;
        left: 55%;
    }

    .review3{
        top: 60%;
        left: 30%;
    }

    /*  */

    .footerGrid{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .futGr1{
        grid-row: 1;
        grid-column: 3;
        justify-self: center;
        align-self: center;
    }

    .futGr2{
        grid-row: 1;
        grid-column: 1;
        justify-self: center;
        align-self: center;
    }

    .futGr3{
        grid-row: 1;
        grid-column: 2;
        justify-self: center;
        align-self: center;
    }

    .futGr4{
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        align-self: center;
    }

    .bottom-text{
        font-size: 1vw;
    }
/* education */

    .width35{
        width: 36%;
    }

    .width60{
        width: 60%;
    }

    .important{
        font-size: 2.5vw;
        line-height: 3.5vw;
    }

    .eduImg{
        top: 50%;
        left: 50%;
        width: 20vw;
        transform: translate(-50%, -50%);
    }

    .height90{
        height: 40vw;
    }

    .r5{
        right: 8.5%;
        top: 20%;
        width: 23vw;
    }

    .eduContact{
        right: 12%;
        top: 70%;
    }

    .dInline{
        display: flex;
        justify-content: space-around;
        margin: 5vw 0;
    }
    
    .wid80{
        width: 80%;
    }

    .companiesLogos{
        display: flex;
        justify-content: space-evenly;
    }

    .companiesLogo{
        max-height:200px;
        width: auto;
        margin: 3vw 0;
    }

    /* About */

    .aboutImg{
        top: 55%;
        left: 50%;
        width: 20vw;
        transform: translate(-50%, -50%);
    }

    .alignRight{
        top: 0%;
        left: 5%;
        text-align: right;
    }

    .nec{
        right: 5%;
    }

    .sust{
        bottom: -5%;
        left: 50%;
        transform: translate(-50%);
    }

    .storyImg{
        margin: 3vw 5vw;
        width: 40%;
    }

    .storyText{
        width: 45%;
    }

    .storyText1{
        right: 5%;
        top: 25%;
    }

    .storyText2{
        right: 5%;
        top: 55%;
    }

    .storyText3{
        right: 5%;
        top: 75%;
    }

    .valuesGrid{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 5vw;
        grid-row-gap: 3vw;
        padding: 2vw 5vw;
    }

    .valuesTitle{
        grid-column: 1/3;
    }

    .icon{
        width: 25%;
    }

    .missionText{
        width: 60%;
    }

    .missionImg{
        top: 27%;
        right: 8%;
    }

    .missionMarBot{
        margin-bottom: 5vw;
    }

    /* blog */

    .blogTitle{
        left: 5%;
        top: 5%;
    }

    .blogTitle2{
        right: 3%;
        top: 50%;
    }

    .blogImg{
        top: 50%;
        left: 50%;
        width: 20vw;
        transform: translate(-50%, -50%);
    }

    .blogText{
        width: 25%;
        left: 5%;
        top: 35%;
    }

    .blogPreviewGrid{
        display: grid;
        grid-template-columns: 30vw 30vw;
        grid-row-gap: 5vw;
        grid-column-gap: 10vw;
        justify-content: center;
    }

    .blogPreviewImg{
        width: 100%;
    }

    .article-image{
        position: sticky;
        width: 50%;
        height: 100%;
        top: 0;
    }

    .article-by{
        float: left;
    }

    .article-tag{
        margin-left: 35vw;
    }

    .articleMeta{
        width: 50%;
    }

    .flex5{
        display: flex;
        flex-direction: row;
    }

    .articleShare{
        position: sticky;
        bottom: 0;
        display: flex;
        flex-direction: row;
        height: 100px;
        width: 50%;
        transform: translate(100%);
        background-color: rgb(180, 180, 180);
    }











}






















/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on June 7, 2020 */

@font-face {
    font-family: 'galanogrotesque-extralight';
    src: url('fonts/galanogrotesquealt-extralight-webfont.woff2') format('woff2'), url('fonts/galanogrotesquealt-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'galanogrotesque-thin';
    src: url('fonts/galanogrotesquealt-thin-webfont.woff2') format('woff2'), url('fonts/galanogrotesquealt-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'galanogrotesque-light';
    src: url('fonts/galanogrotesque-light-webfont.woff2') format('woff2'), url('fonts/galanogrotesque-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'galanogrotesque-mediumitalic';
    src: url('fonts/galanogrotesque-mediumitalic-webfont.woff2') format('woff2'), url('fonts/galanogrotesque-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'galanogrotesque-medium';
    src: url('fonts/galanogrotesque-medium-webfont.woff2') format('woff2'), url('fonts/galanogrotesque-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}