body,html{
	margin:0;
	padding:0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 2em;
	}

section {
	height: 100vh;
	color: #ffffff;
}

figure {
	height: 100vh;
	width: 100%;
	padding: 0;
	margin:	0;
}

.chart{
	height: 70vh;
	padding: 5vh;
	width: 100%;
	font-size: .3em;
}

figcaption {
	font-weight: bold;
	color: #000000;
	width: 100%;
	height: 10vh;
	padding: 5vh;
}

.bar {
	fill: red; 
	height: 21px;
	transition: fill .3s ease;
	cursor: pointer;
}

.bar text {
	fill: black;
}

.bar:hover,.bar:focus {
	fill: black;
}

.bar:hover text,.bar:focus text {
	fill: black;
}





.lineChart {
	
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.graph {
  height: 70vh;
  padding: 5vh;
  width: 100%;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 1 1;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

.data {
  fill: #ff0000;
  stroke-width: 1;
}

.graphLine{
	fill:none;
	stroke:black;
	stroke-width:.5;
}

.pieChart {
	background-color: #c0c0c0;
}





#timerSVG{
	width: 70vh;
	padding: 5vh;
	max-width: 80%;
	filter: drop-shadow( 10px 10px 10px rgba(0, 0, 0, .4));
}

#timerBG{
	opacity: .2;
	stroke: #000000;
	stroke-width: 10;
	fill: none;
}

#timerPie{
	transform-origin: 50% 50%;
	stroke: #ff0000;
	stroke-width: 10;
	stroke-dasharray: 3.1416 31.416;
	transform: rotate(-90deg);
	transition: 2000ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}


.hover{
	transition: all ease-in 0.3s;
	opacity: 0;
}

.bar:hover .hover{
	opacity: 100%;
}

.smallerText{
	font-size: 20px;
	transition: all ease-in 0.3s;
	/* opacity: 0; */
}

.data:hover .smallerText{
	opacity: 100%;
}